@media(max-width: 768px){

    header .container{
        display: block;
    }
    header .logo{
        position: relative;
        margin: 0;
        top: 0;
        left: 50%;
        margin-left: -40px;
    }
    .maincontainer h1{
        margin-bottom: 21px;
        font-size: 30px;
        line-height: 30px;
    }
    .maincontainer p{
        font-size: 16px;
    }
}
@media(max-width: 820px){
    header .container nav ul li a{
        padding-right: 14px;
    }
    header .socials ul{
        justify-content: center;
    }
}
